# Compilation of Ledger's app
build/
bin/
debug/

# Unit tests and code coverage
unit-tests/build/
unit-tests/coverage/
unit-tests/coverage.info

# Fuzzing
fuzzing/build/


# Editors
.idea/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version
tests/snapshots-tmp/

# Doxygen
doc/html
doc/latex
